@font-face {
   font-family: "Axiforma Book";
   src: url(../fonts/Axiforma/AxiformaBook.otf);
}
@font-face {
   font-family: "Axiforma SemiBold";
   src: url(../fonts/Axiforma/AxiformaSemiBold.otf);
}
@font-face {
   font-family: "Axiforma Bold";
   src: url(../fonts/Axiforma/AxiformaBold.otf);
}
@font-face {
   font-family: "Georgia";
   src: url(../fonts/Geargia/Georgia.woff2);
}
@font-face {
   font-family: "Georgia Bold";
   src: url(../fonts/Geargia/Georgia-Bold.woff2);
}

*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
}
a {
   text-decoration: none;
}
ul,
ol,
li {
   list-style: none;
}
img {
   vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
   font-family: "Georgia Bold";
}
html,
body {
   height: 100%;
   line-height: 1;
   font-family: "Axiforma Book";
   color: #5d5d61;
}

.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

._container {
   max-width: 1170px;
   margin: 0 auto;
}

/* --------HEADER------------------------------------------- */

.header {
   position: absolute;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
   width: 100%;
}
.header__container {
   display: flex;
   align-items: center;
   padding: 50px 0;
}
.header__logo {
}
.header__menu {
   margin-left: 223px;
}
.menu {
}
.menu__list {
   display: flex;
   flex-direction: row;
   gap: 40px;
}
.menu__item {
}
.menu__link {
   color: #353540;
   font-size: 18px;
   line-height: calc(28 / 18 * 100%);
}
.menu__link:hover {
   text-decoration: underline;
}
.menu__button {
   font-size: 20px;
   line-height: calc(33 / 20 * 100%);
   padding: 19px 30px;
   border-radius: 10px;
   background: #ee4f3c;
   color: #fff;
   font-family: "Axiforma SemiBold";
   margin-left: auto;
}

.page {
   flex: 1 1 auto;
}
.page__main-block {
   display: flex;
   height: 920px;
   background-image: url(/image/header/cover.jpg);
   background-size: cover;
   background-repeat: no-repeat;
}
.main-block {
}
.main-block__container {
   width: 100%;
   display: flex;
   align-items: center;
}
.main-block__body {
   display: flex;
   flex-direction: column;
   gap: 50px;
}
.main-block__content {
   display: flex;
   flex-direction: column;
   gap: 30px;
}
.main-block__title {
   font-size: 72px;
   line-height: 95px;
   font-weight: 700;
   color: #353540;
}
.main-block__text {
   color: #5d5d61;
   font-size: 18px;
   line-height: calc(34 / 18 * 100%);
   letter-spacing: calc(18px * 0.02);
}

.main-block__search {
}

.search__form {
}

.form__wrapper {
   display: flex;
   box-shadow: 0px 30px 70px 0px #cccccc80;
   border-radius: 10px;
   background-color: #fff;
   width: fit-content;
   overflow: hidden;
}
.search__job {
   padding: 23px 0px 22px 60px;
   border-right: none;
   font-size: 16px;
   line-height: calc(25 / 16 * 100%);
   background: url(../image/search/bytesize_search.svg) 20px 25px no-repeat;
   letter-spacing: calc(16px * 0.02);
}

.search__wrapper {
   position: relative;
   width: 223px;
}
.search__line {
   position: absolute;
   width: 2px;
   height: 40px;
   background-color: #cccccc;
   left: -1px;
   transform: translateY(-50%);
   top: 50%;
   z-index: 1;
}

.search__map {
   padding: 23px 0 22px 61px;
   font-size: 16px;
   line-height: calc(25 / 16 * 100%);
   background: url(../image/search/el_map-marker.svg) 24px 50% no-repeat;
   letter-spacing: calc(16px * 0.02);
   width: 223px;
}
.search__button {
   background: #ee4f3c;
   padding: 19px 54px 18px 54px;
   font-family: "Axiforma SemiBold";
   font-size: 20px;
   color: #fff;
   line-height: calc(33 / 20 * 100%);
   letter-spacing: calc(20px * 0.02);
}

/* ------------POPULAR-JOB-------------------------------------- */

.page__popular-jop {
   background: #232443;
   background-image: url(../image/popular_job/bgi_popular-job.svg);
}
.popular-job {
   padding: 95px 0 71px 0;
}
.popular-job__container {
}
.popular-job__body {
   display: flex;
   flex-direction: column;
   gap: 50px;
}
.popular-job__title {
}
.title-block {
   font-size: 48px;
   line-height: calc(75 / 45 * 100%);
   color: #ffffff;
}
.popular-jop__wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 70px;
}
.popular-jop__columns {
   display: flex;
   gap: 30px;
}
.popular-job__column {
   border-radius: 20px;
   padding: 20px 23px 20px 20px;
   width: 370px;
   height: 250px;
}
.column-job {
   background: #fcfcfc;

   .job-text__title {
      font-size: 24px;
      line-height: 100%;
   }
}
.column-job__active {
   background: #ee4f3c80;
   color: #fff;

   .column-job__name {
      color: #fff;
   }
   .column-job__name img {
      margin-right: 15px;
   }
   .job-text__title {
      color: #fff;
      font-size: 24px;
      line-height: 100%;
   }
   .job-text__info {
      color: #fff;
      font-size: 16px;
      line-height: calc(25 / 16 * 100%);
   }
   .column-job__choice {
      justify-content: space-between;
   }
   .column-job__button {
      background: #ffffff1a;
      color: #ffffff;
      letter-spacing: calc(14px * 0.05);
   }
}
.column-job__company {
   display: flex;
   align-items: center;
   margin-bottom: 20px;
   justify-content: space-between;
}
.column-job__name {
   color: #353540;
   font-size: 20px;
   line-height: calc(33 / 20 * 100%);
   display: flex;
   align-items: center;
   font-family: "Axiforma SemiBold";
}
.column-job__name img {
   padding: 13px 12px 12px 13px;
   border-radius: 50%;
   background-color: #fff;
   box-shadow: 0px 4px 50px 0px #99999940;
   margin-right: 15px;
}
.column-job__person {
   padding-right: 7px;
}
.column-job__text {
   display: flex;
   flex-direction: column;
   gap: 12px;
}
.job-text {
}
.job-text__title {
   color: #353540;
}
.job-text__info {
   margin-bottom: 36px;
   font-size: 16px;
   line-height: calc(25 / 16 * 100%);
}
.column-job__choice {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 19px;
}
.column-job__buttons {
   display: flex;
   gap: 10px;
}
.column-job__buttons :last-child {
   padding: 8px 13px 5px 14px;
}
.column-job__button {
   padding: 8px 21px 5px 21px;
   background: #f5f5f5;
   border-radius: 5px;
   font-size: 14px;
   line-height: calc(22 / 14 * 100%);
   color: #5d5d61;
   letter-spacing: calc(14px * 0.05);
}
.column-job__salary {
   font-family: "Axiforma SemiBold";
   flex-shrink: 0;
}

.popular-job__view-all {
}
.view-all__button {
   font-family: "Axiforma SemiBold";
   font-size: 24px;
   line-height: 24px;
   color: #fff;
   letter-spacing: calc(24px * 0.05);
   display: flex;
   gap: 13px;
   align-items: center;
}

.view-all__icon {
}

/* ------JOB-CATEGORIES-------------------------------------------------------- */

.page__job-categories {
}
.job-categories {
}
.job-categories__container {
}
.job-categories__body {
   display: flex;
   flex-direction: column;
   gap: 50px;
   margin-top: 150px;
}
.job-categories__title {
}
.job-categories__title-block {
   font-size: 48px;
   color: #353540;
   line-height: calc(55 / 48 * 100%);
}
.job-categories__columns {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 30px;
}

.job-categories__item {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 30px 25px 44px 26px;
   border: 1px solid #eeeeee;
   border-radius: 20px;
   gap: 38px;
   width: 270px;
   height: 270px;
   cursor: pointer;

   &:hover {
      box-shadow: 0px 70px 70px 0px #eeeeee;
      .item-icon__wrapper {
         background: #ee4f3c;

         path[stroke="#EE4F3C"] {
            stroke: #fff;
         }
         path[fill="#EE4F3C"] {
            fill: #fff;
         }
      }
   }
}

.categories-item {
}
.item-icon__wrapper {
   transition: all 0.3s ease;
   background: #fff8f8;
   padding: 20px;
   width: 100px;
   border-radius: 50%;
}
.categories-item__icon {
   width: 60px;
}
.categories-item__text {
}
.categories-item__title {
   display: flex;
   flex-direction: column;
   gap: 10px;
}
.categories-item__title-block {
   font-size: 20px;
   line-height: 100%;
   line-height: calc(23 / 20 * 100%);
   color: #353540;
}
.categories-item__sub-title {
   font-size: 16px;
   line-height: calc(25 / 16 * 100%);
   color: #353540;
}

/* ---------GET-START-------------------------------------------------------- */

.page__get-start {
   background-image: url(/image/get-start/cover.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   height: 1110px;
   margin-top: -77px;
   margin-right: 46.8px;
   margin-left: 32px;
}
.get-start {
}
.get-start__container {
}
.get-start__body {
   display: flex;
   align-items: center;
}

.get-start__content {
   display: flex;
   flex-direction: column;
   gap: 50px;
   margin-top: 449px;
}
.get-start__title-block {
}
.get-start__title {
   color: #353540;
   font-size: 48px;
   line-height: calc(55 / 48 * 100%);
}
.get-start__text {
   font-size: 18px;
   line-height: calc(34 / 18 * 100%);
}
.get-start__button-block {
}
.get-start__button {
   background: #ee4f3c;
   color: #fff;
   border-radius: 10px;
   padding: 20px 16px 20px 17px;
   font-family: "Axiforma Bold";
   width: fit-content;
}

/* ------POST-A-JOB------------------------------------------------- */

.page__post-a-job {
   background-image: url(/image/post-a-job/cover.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   margin-top: 34px;
}
.post-a-job {
   position: relative;
   height: 750px;
}
.post-a-job__container {
   height: 100%;
}
.post-a-job__body {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   height: 100%;
}
.post-a-job__video-block {
}
.video-block__content {
   position: absolute;
   top: 100px;
   left: 375px;
}
.post-a-job__picture {
   border-radius: 30px;
}
.post-a-job__content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 50px;
}
.post-a-job__title-block {
}
.post-a-job__title {
   font-size: 48px;
   line-height: calc(55 / 48 * 100%);
   letter-spacing: calc(48px * 0.02);
   color: #353540;
}
.post-a-job__text-block {
}
.post-a-job__text {
   color: #5d5d61;
   font-size: 18px;
   line-height: 34px;
   letter-spacing: calc(18px * 0.02);
}
.post-a-job__button-block {
}
.post-a-job__button {
   color: #fff;
   padding: 20px 58px 20px 59px;
   background: #ee4f3c;
   border-radius: 10px;
   font-family: "Axiforma Bold";
}

/* -------GREAT-FEEDBACK----------------------------- */

.page__great-feedback {
   margin-top: 250px;
}
.great-feedback {
}
.great-feedback__container {
}

.great-feedback__body {
   display: flex;
   flex-direction: column;
   gap: 50px;
}
.great-feedback__title-block {
}
.great-feedback__title {
   font-size: 48px;
   line-height: calc(55 / 48 * 100%);
   letter-spacing: calc(48px * 0.02);
   color: #353540;
}
.great-feedback__columns {
   display: flex;
   gap: 30px;
   overflow: scroll;
   scrollbar-width: none;
}
.great-feedback__column-item {
   width: 570px;
   height: 501px;
   display: flex;
   flex-direction: column;
   border: 1px solid #eeeeee;
   border-radius: 5px;
   justify-content: space-between;
   padding: 53px 36px;
}

.great-feedback__column-item:hover {
   box-shadow: 0px 50px 70px 0px #eeeeee;
   cursor: pointer;
}
.column-item svg path {
   fill: #ece1e0;
}
.column-item:hover svg path {
   fill: #ee4f3c;
}
.column-item__icon-block {
}
.column-item__icon {
}
.column-item__text-block {
}
.column-item__text {
   font-size: 18px;
   line-height: 34px;
   letter-spacing: calc(18px * 0.02);
   width: 510px;
}
.column-item__card {
   display: flex;
   gap: 30px;
   align-items: center;
}
.item-card {
}
.item-card__avatar-block {
}
.item-card__avatar {
   border-radius: 50%;
}
.item-card__details-block {
}
.details-block {
   display: flex;
   flex-direction: column;
   gap: 15px;
}
.details-block__info {
   width: 160px;
}
.details-block__name {
   font-size: 20px;
   line-height: calc(24 / 20 * 100%);
   letter-spacing: calc(20px * 0.05);
   color: #353540;
   margin-bottom: 5px;
}
.details-block__profession {
   font-size: 16px;
   line-height: calc(24 / 20 * 100%);
   letter-spacing: calc(16px * 0.05);
   color: #5d5d61;
}
.details-block__rating-block {
}
.details-block__rating {
}

/* ----------SUBSCRIBE------------------------------------------------------ */

.page__subscribe {
   margin-top: 329px;
   background-image: url(/image/subscribe/cover.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   height: 493px;
}
.subscribe {
}
.subscribe__container {
   display: flex;
}

.subscribe__body {
   margin-top: -89px;
   position: relative;
   width: 100%;
}
.subscribe__block {
   display: flex;
   flex-direction: column;
   gap: 50px;
   background: #ee4f3c;
   border-radius: 20px;
   padding: 85px 250px 85px 150px;
   background-image: url(/image/subscribe/decor_2.svg);
   background-position: right;
   background-size: contain;
   background-repeat: no-repeat;
}
.subscribe__title-block {
}
.subscribe__title {
   font-size: 48px;
   line-height: calc(55 / 48 * 100%);
   letter-spacing: calc(48px * 0.02);
   color: #fff;
}
.subscribe__form-block {
}
.subscribe__form-decor {
   position: absolute;
   bottom: -69px;
   left: -100px;
   z-index: 20;
}
.subscribe__form {
}
.subscribe__input-block {
   display: flex;
   background: #fff;
   border-radius: 10px;
   position: relative;
   overflow: hidden;
}
.subscribe__input {
   width: 545px;
   padding: 23px 0px 22px 30px;
   color: #5d5d61;
   font-size: 16px;
   line-height: calc(25 / 16 * 100%);
   letter-spacing: calc(16px * 0.05);
}
.subscribe__button {
   display: flex;
   padding: 15px 40px 15px 37px;
   color: #fff;
   font-family: "Axiforma SemiBold";
   font-size: 18px;
   line-height: 100%;
   letter-spacing: calc(18px * 0.05);
   text-align: center;
   align-items: center;
   gap: 16px;
   position: absolute;
   background: #ee4f3c;
   top: 50%;
   transform: translateY(-50%);
   right: 5px;
   border-radius: 10px;
}
.subscribe__button-icon {
}

/* ---------FOOTER------------------------------------------------------- */

.footer {
   background-image: url(/image/footer/cover.jpg);
   background-repeat: no-repeat;
   background-position: top 20px right 20px;
}

/* -------FOOTER-TOP----------------------------------- */

.footer__top {
   border-bottom: 1px solid #eeeeee;
}
.footer-top {
}
.footer-top__container {
}
.footer-top__body {
   padding: 106px 0 50px 0;
}
.footer-top__columns {
   display: flex;
   gap: 64px;
}
.footer-top__columns .footer-top__column:first-child {
   margin-right: 39px;
}
.footer-top__column {
   display: flex;
   flex-direction: column;
   gap: 30px;
}
.footer__logo img {
   width: 124px;
   height: 30px;
}
.footer__contacts {
   display: flex;
   flex-direction: column;
   gap: 10px;
}
.contacts-footer__item {
   font-size: 16px;
   line-height: 30px;
   letter-spacing: calc(16px * 0.02);
   color: #5d5d61;

   &:hover {
      transition: all 0.3s ease;
      color: #ee4f3c;
      text-decoration: underline;
   }
}
.contacts-footer__item_map {
   white-space: nowrap;
}

.contacts-footer__item_phone {
}
.footer__social {
   display: flex;
   gap: 28px;
}
.social {
}

.social__item {
   transition: all 0.3s ease;
}
.social__item:hover {
   path[fill="#5D5D61"] {
      fill: #ee4f3c;
   }
}
.footer__label-block {
}
.footer__label {
   font-size: 20px;
   line-height: 24px;
   letter-spacing: calc(24px * 0.02);
   white-space: nowrap;
   color: #353540;
}
.menu-footer {
}
.footer-menu {
}
.footer-menu__list {
}
.footer-menu__list-card {
   display: flex;
   flex-direction: column;
   gap: 28px;
}
.menu-footer__item {
}
.menu-footer__link {
   font-size: 16px;
   line-height: 50px;
   letter-spacing: calc(16px * 0.02);
   color: #5d5d61;

   &:hover {
      color: #ee4f3c;
      transition: all 0.3s ease;
   }
}
.menu-footer__card {
   display: flex;
   gap: 20px;
}
.menu-footer__card-picture {
}
.menu-footer__card-text {
   display: flex;
   flex-direction: column;
   gap: 2px;
}
.menu-footer__text {
   font-size: 16px;
   line-height: calc(22 / 16 * 100%);
   letter-spacing: calc(16px * 0.02);
   font-family: Georgia;
   color: #353540;
}
.menu-footer__date {
   font-family: "Axiforma SemiBold";
   font-weight: 600;
   font-size: 12px;
   line-height: calc(20 / 12 * 100%);
   letter-spacing: calc(12px * 0.05);
   color: #ee4f3c;
}
.menu-footer__text {
}
.menu-footer__date {
}

/* ----------FOOTER-BOTTOM-------- */

.footer__bottom {
   padding: 30px 0;
}
.footer__container {
}
.footer__copy {
   display: flex;
   align-items: center;
   justify-content: center;
}
.footer__copy-title {
   font-family: Poppins;
   font-weight: 400;
   font-size: 14px;
   line-height: calc(30 / 14 * 100%);
   letter-spacing: calc(14px * 0.02);
}
