@font-face {
   font-family: "Axiforma Book";
   src: url(../fonts/Axiforma/AxiformaBook.otf);
}
@font-face {
   font-family: "Axiforma SemiBold";
   src: url(../fonts/Axiforma/AxiformaSemiBold.otf);
}
@font-face {
   font-family: "Axiforma Bold";
   src: url(../fonts/Axiforma/AxiformaBold.otf);
}
@font-face {
   font-family: "Georgia";
   src: url(../fonts/Geargia/Georgia.woff2);
}
@font-face {
   font-family: "Georgia Bold";
   src: url(../fonts/Geargia/Georgia-Bold.woff2);
}

*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
}
a {
   text-decoration: none;
}
ul,
ol,
li {
   list-style: none;
}
img {
   vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
   font-family: "Georgia Bold";
}
html,
body {
   height: 100%;
   line-height: 1;
   font-family: "Axiforma Book";
   color: #5d5d61;
}

.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

._container {
   max-width: 1170px;
   margin: 0 auto;
}

/* --------HEADER------------------------------------------- */

.header {
   position: absolute;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
   width: 100%;
}
.header__container {
   display: flex;
   align-items: center;
   padding: 50px 0;
}
.header__logo {
}
.header__menu {
   margin-left: 223px;
}
.menu {
}
.menu__list {
   display: flex;
   flex-direction: row;
   gap: 40px;
}
.menu__item {
}
.menu__link {
   color: #353540;
   font-size: 18px;
   line-height: calc(28 / 18 * 100%);
}
.menu__link:hover {
   text-decoration: underline;
}
.menu__button {
   font-size: 20px;
   line-height: calc(33 / 20 * 100%);
   padding: 19px 30px;
   border-radius: 10px;
   background: #ee4f3c;
   color: #fff;
   font-family: "Axiforma SemiBold";
   margin-left: auto;
}

.page {
   flex: 1 1 auto;
}
.page__main-block {
   display: flex;
   height: 920px;
   background-image: url(/image/header/cover.jpg);
   background-size: cover;
   background-repeat: no-repeat;
}
.main-block {
}
.main-block__container {
   width: 100%;
   display: flex;
   align-items: center;
}
.main-block__body {
   display: flex;
   flex-direction: column;
   gap: 50px;
   max-width: 658px;
}
.main-block__content {
   display: flex;
   flex-direction: column;
   gap: 30px;
}
.main-block__title {
   font-size: 72px;
   line-height: 95px;
   font-weight: 700;
}
.main-block__text {
   color: #5d5d61;
   font-size: 18px;
   line-height: calc(34 / 18 * 100%);
}

.main-block__search {
}

.search__form {
}

.form__wrapper {
   display: flex;
   box-shadow: 0px 30px 70px 0px #cccccc80;
   border-radius: 10px;
   background-color: #fff;
}
.search__job {
   padding: 23px 0px 22px 60px;
   border-right: none;
   font-size: 16px;
   line-height: calc(25 / 16 * 100%);
   background: url(../image/search/bytesize_search.svg) 20px 25px no-repeat;
}

.search__wrapper {
   position: relative;
}
.search__line {
   position: absolute;
   width: 40px;
   height: 2px;
   background-color: #cccccc;
   left: 0px;
   transform: rotate(90deg);
   top: 34px;
   z-index: 1;
}

.search__map {
   padding: 23px 0 22px 61px;
   font-size: 16px;
   line-height: calc(25 / 16 * 100%);
   background: url(../image/search/el_map-marker.svg) 0px 23px no-repeat;
}
.search__button {
   background: #ee4f3c;
   padding: 19px 54px 18px 54px;
   font-family: "Axiforma SemiBold";
   font-size: 20px;
   color: #fff;
   line-height: calc(33 / 20 * 100%);
   border-radius: 0 10px 10px 0;
}

/* ------------POPULAR-JOB-------------------------------------- */

.page__popular-jop {
   background: #232443;
   background-image: url(../image/popular_job/bgi_popular-job.svg);
}
.popular-job {
   padding-top: 95px;
}
.popular-job__container {
}
.popular-job__body {
}
.popular-job__title {
}
.title-block {
   font-size: 48px;
   line-height: calc(75 / 45 * 100%);
   color: #ffffff;
}
.popular-jop__wrapper {
   display: flex;
   margin-top: 50px;
   flex-direction: column;
   align-items: center;
}
.popular-jop__columns {
   display: flex;
   gap: 30px;
}
.popular-job__column {
   border-radius: 20px;
   padding: 20px 23px 20px 20px;
}
.column-job {
   background: #fcfcfc;

   .job-text__title {
      font-size: 24px;
      line-height: 100%;
   }
}
.column-job__active {
   background: #ee4f3c80;
   color: #fff;

   .column-job__name {
      color: #fff;
   }
   .column-job__name img {
      margin-right: 15px;
   }
   .job-text__title {
      color: #fff;
      font-size: 24px;
      line-height: 100%;
   }
   .job-text__info {
      color: #fff;
      font-size: 16px;
      line-height: calc(25 / 16 * 100%);
   }
   .column-job__button {
      background: #ffffff1a;
      color: #ffffff;
   }
}
.column-job__company {
   display: flex;
   align-items: center;
   margin-bottom: 20px;
}
.column-job__name {
   color: #353540;
   font-size: 20px;
   line-height: calc(33 / 20 * 100%);
   display: flex;
   align-items: center;
   font-family: "Axiforma SemiBold";
}
.column-job__name img {
   padding: 13px 12px 12px 13px;
   border-radius: 50%;
   background-color: #fff;
   box-shadow: 0px 4px 50px 0px #99999940;
   margin-right: 15px;
}
.column-job__person {
   padding-left: 103px;
}
.column-job__text {
   display: flex;
   flex-direction: column;
   gap: 12px;
}
.job-text {
}
.job-text__title {
}
.job-text__info {
   margin-bottom: 36px;
   font-size: 16px;
   line-height: calc(25 / 16 * 100%);
}
.column-job__choice {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.column-job__buttons {
   display: flex;
   gap: 10px;
}
.column-job__button {
   padding: 8px 21px 5px 21px;
   background: #f5f5f5;
   border-radius: 5px;
   font-size: 14px;
   line-height: calc(22 / 14 * 100%);
   color: #5d5d61;
}
.column-job__salary {
   font-family: "Axiforma SemiBold";
   padding-left: 19px;
   flex-shrink: 0;
}

.popular-job__view-all {
   display: flex;
   align-items: center;
   margin: 70px 0 71px;
}
.view-all__button {
   font-family: "Axiforma SemiBold";
   font-size: 24px;
   line-height: calc(39 / 24 * 100%);
   color: #fff;
   padding-right: 13px;
}

.view-all__icon {
}

/* ------JOB-CATEGORIES-------------------------------------------------------- */

.page__job-categories {
}
.job-categories {
}
.job-categories__container {
}
.job-categories__body {
}
.job-categories__title {
}
.job-categories__title-block {
   font-size: 48px;
   color: #353540;
   line-height: calc(55 / 48 * 100%);
   margin: 150px 0 50px 0;
}
.job-categories__columns {
   display: flex;
   gap: 30px;
}
.job-categories__column {
   display: flex;
   flex-direction: column;
   gap: 30px;
   align-items: center;
   text-align: center;
}
.job-categories__item {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 30px 25px 44px 26px;
   border: 1px solid #eeeeee;
   border-radius: 20px;
   gap: 50px;
   width: 270px;
   height: 270px;
}
.categories-item {
}
.item-icon__wrapper {
   background: #fff8f8;
   padding: 20px;
   width: 100px;
   border-radius: 50%;
}
.categories-item__icon {
   width: 60px;
}
.categories-item__text {
}
.categories-item__title {
   display: flex;
   flex-direction: column;
   gap: 10px;
}
.categories-item__title-block {
   font-size: 20px;
   line-height: 100%;
   line-height: calc(23 / 20 * 100%);
   color: #353540;
}
.categories-item__sub-title {
   font-size: 16px;
   line-height: calc(25 / 16 * 100%);
   color: #353540;
}

/* ---------GET-START-------------------------------------------------------- */

.page__get-start {
   background-image: url(/image/get-start/cover.svg);
   background-size: cover;
   background-repeat: no-repeat;
   height: 1110px;
   margin-top: -77px;
}
.get-start {
}
.get-start__container {
}
.get-start__body {
}

.get-start__content {
   display: flex;
   flex-direction: column;
   gap: 50px;
}
.get-start__title-block {
   margin-top: 449px;
}
.get-start__title {
   color: #353540;
   font-size: 48px;
   line-height: calc(55 / 48 * 100%);
}
.get-start__text {
   font-size: 18px;
   line-height: calc(34 / 18 * 100%);
}
.get-start__button-block {
}
.get-start__button {
   background: #ee4f3c;
   color: #fff;
   border-radius: 10px;
   padding: 20px 16px 20px 17px;
}
